// Place all the styles related to the projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.table {
    text-align: center;
}

.table .btn {
    width: 100%;
}

.table td {
    text-transform: initial;
}

.main {
    text-align: center;
}

.main span {
    width: 100%;
    text-transform: initial;
}

.user-table {
    width:50%;
}
